/* //general containers */

html,body, .out-pane{
  margin: 0px;
  height:100%;
  background-color  : #eee;
}

.formu-log{
  margin: 0px;
  height:100%;
  width: 100%;
  background: #eee;
}

.out-pane{
  height: 100%;
  overflow-y: scroll;
}

.navigation{
  text-align: center;
  color: white;
  background: #1C1C1F;
  height: 100%;
  width: 100%;
  align-content: center;
  margin: auto;
  position: fixed;
}
.navigation .fas{
  font-size: 20px;
  width: 100%;
}

.navigation a{
  color: #ccc;
  margin-top:20px;
  margin-bottom: 20px;
  width:100%;
  font-size: 14px;
  display: block;
  text-decoration: none;
  transition: 0.4s color;

}

.head-title{
  font-size: 26px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 25px;
  display: block;
}

.head-title .fas{
  font-size: 30px;

}

.display-home {
  background: #eee;
  height: 100%;
  width:100%
  margin: 0px;

}
.artist_image_for_edit img,
.album_image_for_edit img{
  width: 250px;
}



.actived{

  border-left: 4px solid #4cd137;

  /* border-top: 2px solid  #2F2F2F;
  border-bottom: 2px solid  #0D0D0D;

  border-radius: 50%; */

}
.actived .fas{
  color: #4cd137;
}



/* artist card */
.artists-list,
.album-list{
  margin: 0px;
  padding: 0px;
  margin-top: 10px;
  list-style: none;
  width:100%;
  flex-direction: row;
  min-height: 400px;
}

.artist-item,
.album-item{
  margin: 0px;
  padding: 0px;
  width: 22%;
  height: 350px;
  border: 1px solid #444;
  margin-left: 20px;
  margin-top: 20px;
  background-color:#2F2F2F;
  transition: 0.5s height;


}

.artist-item .artist-image,
.album-item .album-image{
  height: 245px;
  width:100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.artist-item .artist-image img,
.album-item .album-image img{
  height: 100%;
  min-width: 100%;
}
.buttons{
  width: 100%;
  bottom: 0px;
  margin: 0px;
  padding: 0px;
  margin-top: 10px;
  margin-left: 3px;
  align-items: center;
}


.pagination{
  margin-right: 80px;
  text-align: center;
  vertical-align: middle;
}

.art-arrow{
  font-size: 30px;
  margin: 10px;
  color: #1C1C1F;
  transition: 0.5s color;
}


.artist-name,
.album-name{
  width:100%;
  margin-bottom: 5px;
  margin-left: 3px;
}

.album-name a,
.artist-name a{
  color: #ccc;
  margin-top:5px;
  margin-bottom: 5px;
  width:100%;
  font-size: 16px;
  display: block;
  font-weight: bold;
  transition: 1s color;
  transition: 1s font-size;
}

.album-name p,
.artist-name p{
  color: #ccc;
  margin-top:2px;
  margin-bottom: 2px;
  width:100%;
  font-size: 12px;
  display: block;
}

.artist-box{
  margin-top: 15px;
}
.confirm{

width:100%;

background-color: #2F2F2F;
}



/* hover */
.head-title a:hover{
  color: #4cd137;
  text-decoration: none;
}


.nav-out:hover{
  color: #ff5252;
  text-decoration: none;

}

.nav-link:hover{
  /* color: #05c46b; */
  color:white;
  text-decoration: none;
}


.art-arrow:hover{
  color: #4cd137;
}
.album-name a:hover,
.artist-name a:hover{
  color: white;
  font-size: 18px;
  text-decoration: none;

}

/* .album-item:hover,
.artist-item:hover{
  height: 375px;
} */



.song-list{
  margin: 0px;
  padding: 0px;
}

.seguro-song{
  position: absolute;
  right: 60px;
  margin-top: -28px;
  background: #eee;
  width: 30%;
}

.song-item{
  list-style: none;
  border-bottom: 1px solid #444;
  padding-top: 15px;
}

.song-item .buttons{
  float: right;
  width: 20%;
  margin-bottom: 20px;
}

.song-item .icono{
  margin-right: 10px;
}

#image-logged{
  margin: 0px auto;
  margin-top: 5px;
  background: #eee;
  border-radius: 100px;
  overflow: hidden;
}

#user_logged{
  background: #1C1C1F;
  position: absolute;
  bottom: 0px;
  border-top: 2px solid #444;
  width:75%;
}

#album-head-card .image,
#artist-head-card .artistcard-image{
  width:200px;
  height: 200px;
  overflow: hidden;
  float: left;
  margin-right: 30px;
}



#album-head-card .image img,
#artist-head-card .artistcard-image img{
  height:200px;
}


/*PLAYER*/
.player{
  background: #1C1C1F;
  position: fixed;
  bottom: 0;
  width: 92%;
  padding: 10px;
  margin-left: -15px;

}

.player .album-image{
  float: left;
  width : 118px;
  height: 100px;
  overflow: hidden;
}

.player .album-image img{
  height: 100%;
}


.player .audio-file{
  width: 85%;
  height: 30px;
  margin-top: -5px;
  margin-left: 10px;
  float: left;
  color: grey;
}

.player p{
  color: white;
  margin-left: -15px;
}

.player audio{
  width: 100%;
  height: 30px;
  margin-left: -5px;
  margin-top: 10px;
  border: 4px solid #1C1C1F;

}
